<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <img src="https://images.priceoye.pk/apple-iphone-12-pakistan-priceoye-3p8na-500x500.webp" alt="Denim Jeans" style="width:100%">
        <h1>{{p.name}}</h1>
        <p class="price">₹ {{p.price}}</p>
        <p>{{p.description}}</p>
        <br>
        <br>
        
    </div>
</body>
</html>